<nav class="navbar navbar-default navbar-fixed-top" id="custom-navss">
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/assets/img/logo.png" alt="Logo"></span> {{ site.title }}
            </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for section in site.data.sections %}
          {% assign sdata = site.data[section] %}
          {% if sdata.doc %}
            {% assign sid = sdata.doc | prepend:"/" %}
          {% else %}
            {% assign sid = section | prepend:"/" | append:"/index" %}
          {% endif %}
          {% assign doc = site.docs | where:"id", sid | first %}
          <li {% if page.id==doc.id %} class="active" {% endif %}><a href="{{ doc.url | prepend: site.baseurl }}">{{ sdata.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="navbar-right">
        <form class="navbar-form navbar-right">
          <div class="form-group has-feedback">
            <input id="search-box" type="search" class="form-control" placeholder="Search...">
            <i class="fa fa-search form-control-feedback"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
