---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";

@import "rouge";
@import "typeahead";
@import "markdown/markdown";





html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $nav-link-height + $nav-link-padding-y * 2;
}

main {
  padding-bottom: 20px;
}

.jumbotron {
  background: url("../img/jumbotron.jpg") no-repeat 50% 0;
  background-size: cover;
  color: #fff;
  background-position: center 36%;
  margin-top: -37px;
  h1 {
    color: #fff;
  }
}
